<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Calculadora de Derivadas Irregulares</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <script src="{{ url_for('static', filename='js/derivadas_irregulares.js') }}" defer></script>
</head>
<body>

    <div class="info-individual">
        <h1>Derivadas Irregulares</h1>
        <p> <br><br>
            <h3>Indicaciones:</h3>
           
            <h3>Ingresos:</h3>
            
        </p>
    </div>

    <form id="derivadasIrregularesForm" class="form-register">
        <h3 class="titulosMetodos">Derivadas para Datos Irregulares</h3>

        <label for="pares">Pares de valores (x,y) (formato: x1,y1;x2,y2;...):</label><br>
        <textarea class="controls" id="pares" name="pares"></textarea><br>
        
        <label for="punto_estimar">Punto en x para estimar la derivada:</label><br>
        <input type="text" class="controls" id="punto_estimar" name="punto_estimar"><br>
        
        <label for="metodo">Método:</label><br>
        <select class="controls" id="metodo" name="metodo">
            <option value="adelante">Adelante</option>
            <option value="atras">Atrás</option>
            <option value="central">Central</option>
        </select><br><br>
        
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Salida: <span id="mensaje"></span></p>
        <img id="grafica" src="{{ url_for('static', filename='grafica_derivadas_irregulares.png') }}" alt="Gráfica de Derivadas Irregulares" style="display: none;">
    </div>
</body>
</html>
