<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Derivadas de Datos Irregularmente Espaciados</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="{{ url_for('static', filename='js/derivadas_irregular.js') }}" defer></script>
</head>
<body>
    
    <form id="derivadasIrregularForm" class="form-register">
        <h3 class="titulosMetodos">Derivadas de Datos Irregularmente Espaciados</h3>

        <label for="x_values">Valores de x (separados por comas):</label><br>
        <input class="controls" type="text" id="x_values" name="x_values"><br>
        <label for="y_values">Valores de y (separados por comas):</label><br>
        <input class="controls" type="text" id="y_values" name="y_values"><br>
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Salida: <span id="mensaje"></span></p>
        <h3>Datos de Iteraciones:</h3>
        <table id="tabla-resultados">
            <thead>
                <tr>
                    <th>x</th>
                    <th>y</th>
                    <th>Derivada</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <img id="grafica">
    </div>

</body>
</html>
