<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Diferenciación Numérica de Alta Precisión</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="{{ url_for('static', filename='js/diferenciacion_alta_precision.js') }}" defer></script>
</head>
<body>
    
    <form id="diferenciacionAltaPrecisionForm" class="form-register">
        <h3 class="titulosMetodos">Diferenciación Numérica de Alta Precisión</h3>

        <label for="x0">x0:</label><br>
        <input class="controls" type="number" id="x0" name="x0"><br>
        <label for="h">h:</label><br>
        <input class="controls" type="number" id="h" name="h"><br>
        <label for="funcion">Función:</label><br>
        <textarea class="controls" id="funcion" name="funcion"></textarea><br>
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Salida: <span id="mensaje"></span></p>
        <h3>Datos de Iteraciones:</h3>
        <table id="tabla-resultados">
            <thead>
                <tr>
                    <th>x0</th>
                    <th>h</th>
                    <th>Derivada Aproximada</th>
                    <th>Derivada Real</th>
                    <th>Error</th>
                    <th>Error (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <img id="grafica">
    </div>

</body>
</html>
