<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Método de Extrapolación de Richardson</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="{{ url_for('static', filename='js/extrapolacion_richardson.js') }}" defer></script>
</head>
<body>
    <div class="info-individual">
        <h1>Extrapolación de Richardson - Derivadas</h1>
        <p>La extrapolación de Richardson es una técnica para mejorar la precisión de la derivación numérica, aprovechando la idea de usar pasos más pequeños y combinando las estimaciones resultantes. <br><br>
            <h3>Indicaciones:</h3>
            Ingrese el valor de X0, que es el punto en el cual desea calcular la derivada.<br>
            Ingrese los valores de H1 y H2, que son los incrementos para la aproximación de la derivada. H2 debe ser menor que H1.<br>
            Ingrese la función de la cual desea calcular la derivada en términos de x.<br><br>
            
            <h3>Ingresos:</h3>
            <ul>
                <li><b>X0:</b> El punto en el cual se calcula la derivada.</li>
                <li><b>H1:</b> Primer incremento para la aproximación de la derivada.</li>
                <li><b>H2:</b> Segundo incremento para la aproximación de la derivada (debe ser menor que H1).</li>
                <li><b>Función:</b> La función de la cual se desea calcular la derivada.</li>
            </ul>
        </p>
    </div>  
    <form id="richardsonForm" class="form-register">
        <h3 class="titulosMetodos">Método de Extrapolación de Richardson para Derivadas</h3>

        <label for="x0">X0:</label><br>
        <input class="controls" type="number" id="x0" name="x0" step="any"><br>
        <label for="h1">H1:</label><br>
        <input class="controls" type="number" id="h1" name="h1" step="any"><br>
        <label for="h2">H2:</label><br>
        <input class="controls" type="number" id="h2" name="h2" step="any"><br>
        <label for="funcion">Función:</label><br>
        <textarea class="controls" id="funcion" name="funcion"></textarea><br>
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Mensaje: <span id="mensaje"></span></p>
        <p>Derivada Estimada: <span id="derivada"></span></p>
        <p>Derivada Analítica: <span id="derivadaAnalitica"></span></p>
        <p>Error: <span id="error"></span></p>

        <img id="grafica" style="display:none;">
    </div>
</body>
</html>
