<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Métodos Numéricos</title>
    <link rel="stylesheet" href="../static/estilos.css">
</head>
<body>

    <h1 class="titulo">Metodos Numericos</h1>

    <div class="section">
        <h2 class="titulosUnidades">Ecuaciones Lineales</h2>
        <div class="group">
            <a href="#" class="button">Gauss Simple</a>
            <a href="#" class="button">Gauss Jordan</a>
            <a href="#" class="button">Gauss Simple con Pivote</a>
            <a href="#" class="button">Gauss-Seidel</a>
        </div>
    </div>

    <div class="section">
        <h2 class="titulosUnidades">Ecuaciones no Lineales</h2>
        <div class="group">
            <h3 class="titulosTemas">Métodos Cerrados</h3>
            <a href="./biseccion.html" class="button">Bisección</a>
            <a href="./falsa_pocision.html" class="button">Falsa Posición</a>
        </div>
        <div class="group">
            <h3 class="titulosTemas">Métodos Abiertos</h3>
            <a href="./secante.html" class="button">Secante</a>
            <a href="./newton.html" class="button">Newton-Raphson</a>
        </div>
    </div>

    <div class="section">
        <h2 class="titulosUnidades">Regresión - Interpolación</h2>
        <div class="group">
            <h3 class="titulosTemas">Regresión</h3>
            <a href="#" class="button">Regresión Lineal - Polinomial</a>
            <h3 class="titulosTemas">Interpolación</h3>
            <a href="./interpolacion.html" class="button">Metodos de Interpolación</a>
            <h3 class="titulosTemas">Trazadores</h3>
            <a href="./trazadores_cuadraticos.html" class="button">Trazadores Cuadráticos</a>
            <a href="./trazadores_cubicos.html"class="button">Trazadores Cúbicos</a>
        </div>
    </div>

    <div class="section">
        <h2 class="titulosUnidades">Diferenciación Numérica - Integración Numérica</h2>
        <div class="group">
            <h3 class="titulosTemas">Derivadas</h3>
            <a href="#" class="button">Cuadratura de Gauss</a>
            <a href="./diferenciacion_numerica.html" class="button">Diferenciación Numérica</a>
            <a href="./extrapolacion_richardson.html" class="button">Extrapolación de Richardson</a>
            <a href="./derivadas_irregulares.html" class="button">Derivadas de Datos Irregularmente Espaciados</a>
            <h3 class="titulosTemas">Integrales</h3>
            <a href="./trapecio.html" class="button">Trapecio</a>
            <a href="./simpson1-3.html" class="button">Simpson 1/3</a>
            <a href="./simpson3-8.html" class="button">Simpson 3/8</a>
        </div>
    </div>

    <div class="section">
        <h2 class="titulosUnidades">Ecuaciones Diferenciales</h2>
        <div class="group">
            <a href="./euler.html" class="button">Euler</a>
            <a href="./euler_mejorado.html" class="button">Euler Mejorado</a>
            <a href="./runge_kutta.html" class="button">Runge Kutta</a>
        </div>
    </div>

</body>
</html>
