<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Método de Newton-Raphson</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="{{ url_for('static', filename='js/newton.js') }}" defer></script>
</head>
<body>
    <div class="info-individual">
        <h1>Método de Newton-Raphson</h1>
        <p>El método de Newton-Raphson es un algoritmo numérico utilizado para encontrar aproximaciones sucesivas a las raíces de una función real. <br><br>
            <h3>Indicaciones:</h3>
            Las funciones se deben ingresar en términos de x. Ej: x + 45<br>
            Se debe incluir los signos en cada una de las operaciones. Ej: 2*x + 3*x - (3*x/5) - 12<br>
            Para potencias se debe utilizar "**". Ej: x**2 - 13<br>
            Para funciones trigonométricas usar: sin(x), cos(x), tan(x)<br>
            Para constantes utilizar: "pi" para el número Pi. "E" para el número de Euler.<br>
            Para logaritmos utilizar: "ln(x)" para logaritmo natural. "log(x, base)" para logaritmos de diferente base. Ej: log(x, 10) + 9<br>
            Para indicar decimales se usa el punto. Ej: 3.7*x - 15<br><br>
            
            <h3>Ingresos:</h3>
            <ul>
                <li><b>X Inicial:</b> Valor inicial para comenzar las iteraciones.</li>
                <li><b>Función:</b> La función continua de la cual se desea encontrar la raíz.</li>
                <li><b>Límite de Iteraciones:</b> Número máximo de iteraciones permitidas para el cálculo.</li>
                <li><b>Valor de Error Aproximado (%):</b> Tolerancia para el error aproximado.</li>
                <li><b>Valor de Error Verdadero (%):</b> Tolerancia para el error verdadero.</li>
            </ul>
        </p>
    </div>
    <form id="newtonRaphsonForm" class="form-register">
        <h3 class="titulosMetodos">Método de Newton-Raphson</h3>

        <label for="xInicial">X Inicial:</label><br>
        <input class="controls" type="number" id="xInicial" name="xInicial"><br>
        <label for="funcion">Función:</label><br>
        <textarea class="controls" id="funcion" name="funcion"></textarea><br>
        <label for="limiteIteraciones">Límite de Iteraciones:</label><br>
        <input class="controls" type="number" id="limiteIteraciones" name="limiteIteraciones"><br>
        <label for="valorErrorAproximado">Valor de Error Aproximado (%):</label><br>
        <input class="controls" type="number" id="valorErrorAproximado" name="valorErrorAproximado"><br>
        <label for="valorErrorVerdadero">Valor de Error Verdadero (%):</label><br>
        <input class="controls" type="number" id="valorErrorVerdadero" name="valorErrorVerdadero"><br>
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Salida: <span id="mensaje"></span></p>
        <p>Raíz: <span id="raiz"></span></p>
        <p>Iteraciones: <span id="iteraciones"></span></p>
        <h3>Datos de Iteraciones:</h3>
        <table id="tabla-resultados">
            <thead>
                <tr>
                    <th>Xi</th>
                    <th>Xi+1</th>
                    <th>Valor Verdadero</th>
                    <th>Error Verdadero</th>
                    <th>Error Verdadero (%)</th>
                    <th>Error Aproximado</th>
                    <th>Error Aproximado (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <img id="grafica">
    </div>

</body>
</html>
