<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Método de la Secante</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="{{ url_for('static', filename='js/secante.js') }}" defer></script>
</head>
<body>
    <div class="info-individual">
        <h1>Método de la Secante</h1>
        <p>El método de la secante es un algoritmo numérico utilizado para encontrar raíces de una función real. <br><br>
            <h3>Indicaciones:</h3>
            Las funciones se deben ingresar en términos de x. Ej: x + 45<br>
            Se debe incluir los signos en cada una de las operaciones. Ej: 2*x + 3*x - (3*x/5) - 12<br>
            Para potencias se debe utilizar "**". Ej: x**2 - 13<br>
            Para funciones trigonométricas usar: sin(x), cos(x), tan(x)<br>
            Para constantes utilizar: "pi" para el número Pi. "E" para el número de Euler.<br>
            Para logaritmos utilizar: "ln(x)" para logaritmo natural. "log(x, base)" para logaritmos de diferente base. Ej: log(x, 10) + 9<br>
            Para indicar decimales se usa el punto. Ej: 3.7*x - 15<br><br>
            
            <h3>Ingresos:</h3>
            <ul>
                <li><b>X0:</b> Valor inicial 1 para comenzar las iteraciones.</li>
                <li><b>X1:</b> Valor inicial 2 para comenzar las iteraciones.</li>
                <li><b>Función:</b> La función continua de la cual se desea encontrar la raíz.</li>
                <li><b>Máximo de Iteraciones:</b> Número máximo de iteraciones permitidas para el cálculo.</li>
                <li><b>Error de Aproximación (%):</b> Tolerancia para el error aproximado.</li>
                <li><b>Error Verdadero (%):</b> Tolerancia para el error verdadero.</li>
            </ul>
        </p>
    </div>
    <form id="secanteForm" class="form-register">
        <h3 class="titulosMetodos">Método de la Secante</h3>

        <label for="x0">X0:</label><br>
        <input class="controls" type="number" id="x0" name="x0"><br>
        <label for="x1">X1:</label><br>
        <input class="controls" type="number" id="x1" name="x1"><br>
        <label for="funcion">Función:</label><br>
        <textarea class="controls" id="funcion" name="funcion"></textarea><br>
        <label for="maxIteraciones">Máximo de Iteraciones:</label><br>
        <input class="controls" type="number" id="maxIteraciones" name="maxIteraciones"><br>
        <label for="errorAprox">Error de Aproximación (%)</label><br>
        <input class="controls" type="number" id="errorAprox" name="errorAprox"><br>
        <label for="errorVerdadero">Error Verdadero (%)</label><br>
        <input class="controls" type="number" id="errorVerdadero" name="errorVerdadero"><br>
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Salida: <span id="mensaje"></span></p>
        <p>Raíz: <span id="raiz"></span></p>
        <p>Iteraciones: <span id="iteraciones"></span></p>
        <h3>Datos de Iteraciones:</h3>
        <table id="tabla-resultados">
            <thead>
                <tr>
                    <th>X0</th>
                    <th>Fx0</th>
                    <th>X1</th>
                    <th>Fx1</th>
                    <th>Xi</th>
                    <th>Valor Verdadero</th>
                    <th>Error Verdadero</th>
                    <th>Error Verdadero (%)</th>
                    <th>Error Aproximado</th>
                    <th>Error Aproximado (%)</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <img id="grafica">
    </div>
</body>
</html>
