<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Trazadores Cúbicos</title>
    <link rel="stylesheet" href="../static/estilos.css">
    <script src="{{ url_for('static', filename='js/trazadores_cubicos.js') }}" defer></script>
</head>
<body>
    <form id="trazadoresCubicosForm" class="form-register">
        <h3 class="titulosMetodos">Trazadores Cúbicos</h3>

        <label for="x_data">Datos de X (separados por comas):</label><br>
        <textarea class="controls" id="x_data" name="x_data"></textarea><br>
        <label for="y_data">Datos de Y (separados por comas):</label><br>
        <textarea class="controls" id="y_data" name="y_data"></textarea><br>
        <button class="botons" type="submit">Calcular</button>
    </form>

    <div id="resultados">
        <p>Resultado del cálculo:</p>
        <p>Salida: <span id="mensaje"></span></p>
        <h3>Coeficientes de los Trazadores:</h3>
        <table id="tabla-resultados">
            <thead>
                <tr>
                    <th>a</th>
                    <th>b</th>
                    <th>c</th>
                    <th>d</th>
                    <th>x0</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <img id="grafica" src="{{ url_for('static', filename='grafica_trazadores_cubicos.png') }}" alt="Gráfica de Trazadores Cúbicos">
    </div>
</body>
</html>
